In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime

In [ ]:
stations = ['Karpos', 'Centar', 'GaziBaba', 'Lisice', 'Rektorat', 'Miladinovci']

In [ ]:
df_time = pd.read_csv('./pollution_data/time.csv', index_col=0)
df_time.head()

                     hour  day  month  year  weekend  holiday
Timestamp
2019-01-01 00:00:00     0    1      1  2019        0        1
2019-01-01 01:00:00     1    1      1  2019        0        1
2019-01-01 02:00:00     2    1      1  2019        0        1
2019-01-01 03:00:00     3    1      1  2019        0        1
2019-01-01 04:00:00     4    1      1  2019        0        1

Combine the pollution and weather datasets for each monitoring station in Skopje based on the timestamp attribute (index column).

In [ ]:
for station in stations:
  df_pollution = pd.read_csv(f'./pollution_data/{station}.csv', index_col=0)
  df_weather = pd.read_csv(f'./weather_data/{station}.csv', index_col=0)
  df = df_weather.join(df_time)
  df = df.join(df_pollution)
  df.index = pd.to_datetime(df.index)
  print(df.head())
  df.to_csv(f'./combined_data/{station}.csv', index=True)

                     relative_humidity  wind_speed  ...     NO2     SO2
Timestamp                                           ...
2019-01-01 00:00:00               85.0         4.0  ...  6.8624  0.4560
2019-01-01 01:00:00               84.0         4.0  ...  6.3512  0.4863
2019-01-01 02:00:00               83.0         4.4  ...  7.4539  0.3608
2019-01-01 03:00:00               84.0         4.4  ...  6.7862  0.4143
2019-01-01 04:00:00               84.0         4.0  ...  7.4280  0.5343

[5 rows x 24 columns]
                     relative_humidity  wind_speed  ...       PM10     PM25
Timestamp                                           ...
2019-01-01 00:00:00               85.0         4.0  ...  15.324900   8.4704
2019-01-01 01:00:00               84.0         4.0  ...  22.204800  10.6802
2019-01-01 02:00:00               83.0         4.4  ...  21.212500  10.2108
2019-01-01 03:00:00               84.0         4.4  ...  24.841900  10.4952
2019-01-01 04:00:00               84.0         4.0  ...  21.795099   9.4589

[5 rows x 22 columns]
                     relative_humidity  wind_speed  ...     NO2     SO2
Timestamp                                           ...
2019-01-01 00:00:00               85.0         4.0  ...  3.1515  2.7132
2019-01-01 01:00:00               84.0         4.0  ...  2.9032  5.2668
2019-01-01 02:00:00               83.0         4.4  ...  2.4448  2.5270
2019-01-01 03:00:00               84.0         4.4  ...  4.5458  2.2344
2019-01-01 04:00:00               84.0         4.0  ...  3.3425  1.9950

[5 rows x 24 columns]
                     relative_humidity  wind_speed  ...        NO2     SO2
Timestamp                                           ...
2019-01-01 00:00:00               85.0         4.0  ...  18.947201  2.0482
2019-01-01 01:00:00               84.0         4.0  ...  11.440900  2.5270
2019-01-01 02:00:00               83.0         4.4  ...  14.535100  2.6068
2019-01-01 03:00:00               84.0         4.4  ...  15.490100  2.5004
2019-01-01 04:00:00               84.0         4.0  ...  16.731600  2.4472

[5 rows x 25 columns]
                     relative_humidity  wind_speed  ...      CO        NO2
Timestamp                                           ...
2019-01-01 00:00:00               85.0         4.0  ...  0.8584  53.403400
2019-01-01 01:00:00               84.0         4.0  ...  1.0440  56.459801
2019-01-01 02:00:00               83.0         4.4  ...  0.8352  36.500301
2019-01-01 03:00:00               84.0         4.4  ...  0.9396  50.424000
2019-01-01 04:00:00               84.0         4.0  ...  0.7308  36.385502

[5 rows x 24 columns]
                     relative_humidity  wind_speed  ...      NO2     SO2
Timestamp                                           ...
2019-01-01 00:00:00                 85         6.8  ...   9.8747  3.2186
2019-01-01 01:00:00                 84         6.8  ...   9.4927  4.4422
2019-01-01 02:00:00                 83         6.8  ...   6.2457  3.8570
2019-01-01 03:00:00                 84         6.8  ...   7.7355  3.3250
2019-01-01 04:00:00                 84         6.8  ...  11.4218  3.2186

[5 rows x 25 columns]